.Loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.Loader {
  border: 3px solid #ffffff3f;
  border-top: 3px solid $highlight;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}