.Input-wrapper {
  position: relative;
  width: 100%;

  .Input-image {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all $delay ease;

    &:hover {
      transform: translateY(-50%) scale(1.2);
    }

    & > svg {
      width: 17px;
    }
  }
}
