{
  "env": {
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "standard"
  ],
  "rules": {
    "no-unused-expressions": "off",
    "semi": ["error", "never"]
  }
}