.u-c--grey {
  color: $grey !important;
}

.u-fl--l {
  float: left !important;
}

.u-fl--r {
  float: right !important;
}

// display 
.u-d--ib {
  display: inline-block;
}

.u-d--b {
  display: block;
}

.u-d--f {
  display: flex;
}

// text align
.u-tac {
  text-align: center;
}

.u-tal {
  text-align: left;
}

.u-tar {
  text-align: right;
}

// center block
.u-block--center {
  margin-left: auto;
  margin-right: auto;
}

// padding top
.u-pdt--0 {
  padding-top: 0px;
}

.u-pdt--xs {
  padding-top: 5px;
}

.u-pdt--s {
  padding-top: 10px;
}

.u-pdt--m {
  padding-top: 20px;
}

.u-pdt--l {
  padding-top: 30px;
}

// padding bottom
.u-pdb--0 {
  padding-bottom: 0px;
}

.u-pdb--xs {
  padding-bottom: 5px;
}

.u-pdb--s {
  padding-bottom: 15px;
}

.u-pdb--m {
  padding-bottom: 20px;
}

.u-pdb--l {
  padding-bottom: 30px;
}

// padding left
.u-pdl--0 {
  padding-left: 0px;
}

.u-pdl--xs {
  padding-left: 5px;
}

.u-pdl--s {
  padding-left: 10px;
}

.u-pdl--m {
  padding-left: 20px;
}

.u-pdl--l {
  padding-left: 30px;
}

// padding
.u-pd--0 {
  padding: 0px;
}

.u-pd--xs {
  padding: 5px;
}

.u-pd--s {
  padding: 10px;
}

.u-pd--m {
  padding: 20px;
}

.u-pd--l {
  padding: 30px;
}

// padding right
.u-pdr--0 {
  padding-right: 0px;
}

.u-pdr--xs {
  padding-right: 5px;
}

.u-pdr--s {
  padding-right: 10px;
}

.u-pdr--m {
  padding-right: 20px;
}

.u-pdr--l {
  padding-right: 30px;
}

// margin left
.u-mgl--0 {
  margin-left: 0px;
}

.u-mgl--xs {
  margin-left: 5px;
}

.u-mgl--s {
  margin-left: 10px;
}

.u-mgl--m {
  margin-left: 20px;
}

.u-mgl--l {
  margin-left: 30px;
}

.u-mgl--xl {
  margin-left: 40px;
}

// margin
.u-mg--0 {
  margin: 0px;
}

.u-mg--xs {
  margin: 5px;
}

.u-mg--s {
  margin: 10px;
}

.u-mg--m {
  margin: 20px;
}

.u-mg--l {
  margin: 30px;
}

// margin right
.u-mgr--0 {
  margin-right: 0px;
}

.u-mgr--xs {
  margin-right: 5px;
}

.u-mgr--s {
  margin-right: 10px;
}

.u-mgr--m {
  margin-right: 20px;
}

.u-mgr--l {
  margin-right: 30px;
}

// margin top
.u-mgt--0 {
  margin-top: 0px;
}

.u-mgt--xs {
  margin-top: 5px;
}

.u-mgt--s {
  margin-top: 10px;
}

.u-mgt--m {
  margin-top: 20px;
}

.u-mgt--l {
  margin-top: 30px;
}

// margin bottom
.u-mgb--0 {
  margin-bottom: 0px;
}

.u-mgb--xs {
  margin-bottom: 5px;
}

.u-mgb--s {
  margin-bottom: 10px;
}

.u-mgb--m {
  margin-bottom: 20px;
}

.u-mgb--l {
  margin-bottom: 30px;
}

//max max-width
.u-mw {
  width: 100%;
}