.Button-wrapper {
  font-size: 20px !important;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  display: block;
  transition: all $delay ease;

  &:hover {
    color: rgba($highlight, 0.8);
    cursor: pointer;
  }

  .navIcon > svg {
    width: 15px;
    fill: $grey;
    margin-right: 1em;
  }

  &.isActive {
    span {
      color: $highlight;
    }

    .navIcon > svg {
      fill: $highlight;
    }

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      background: $highlight;
      width: 5px;
      height: 100%;
      border-radius: 0.2em;
    }
  }
}
