.Trends-wrapper {
  height: 100vh;
  overflow: auto;
}

.Trends-header {
  display: flex;
  align-items: center;
  padding: 4em 4em;
  font-size: .6em;
  font-weight: 600;

  .Trends-header--Category {
    color: $grey;
    margin-left: auto;
  }
}

.Movie-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 160px 160px 160px 160px 160px;
  grid-gap: 2em;
}
