.Trends-wrapper {
  height: 100vh;
  overflow: auto;
  padding-bottom: 2em;
}

.Trends-header {
  display: flex;
  align-items: center;
  padding: 4em;
  font-size: .6em;
  
  .TrendsHeader-Category {
    font-weight: 600;
    color: $grey;
    margin-left: auto;
    cursor: pointer;
  }

  .HeaderCategory-wrapper {
    padding: .6em .5em;
  }

  .HeaderCategory-item {
    padding: .4em .6em;
    position: relative;
    transition: .3s ease-in-out;
    cursor: pointer;

    &.isSelected::before {
      content: '';
      top: 0;
      left: -29px;
      position: absolute;
      border-radius: $radius;
      width: 4px;
      height: 100%;
      background: $highlight;
    }
    &:hover {
      color: $highlight;
    }
  }
}

.Movie-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 160px 160px 160px 160px 160px;
  grid-gap: 2em;
}
