.Item-wrapper {
  position: relative;
  width: 160px;
  height: 240px;
  box-shadow: 0px 0px 0px 12px rgba(#2D3C4A, 0.8);
  cursor: pointer;
}
.Item-filter {
  width: 100%;
  height: 100%;
  background: rgba(#176087, 0.2);
}

.Item-description--title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Item-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  font-size: 17px;
  background: rgba(#000, 0.6);

  span {
    display: block;
  }
}

.ItemMenu-wrapper {
  @include center();
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(#1E2E3D, 0.8);

  .ItemMenu {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
  }
}

.ItemMenu-options {
  @include center();
  height: 50px;
  width: 50px;
  position: relative;
  background: rgba(#000000, 0.3);
  border-radius: 50%;
  transition: all $delay ease;

  &:hover {
    transform: scale(1.2);
    background: transparent;
    cursor: pointer;
  }
}

.Option-image > svg {
  @include center();
  height: 18px;
  width: 18px;
}

