.isColumn {
  .Item-image {
    @include box-shadow();
    width: 100px;
    height: 100px;
    border-radius: $radius;
  }
  
  .ItemContent-wrapper {
    @include center();
    width: 100%;
    margin-left: 1em;
  }
  
  .Item-options {
    opacity: 0;
    display: flex;
    margin-left: auto;
    .ItemMenu-options {
      margin-left: .5em;
      background: rgba(black, .3);
      width: 35px;
      height: 35px;
    }
  }
}
