.isRow {
  .Item-filter {
    width: 100%;
    height: 100%;
    background: rgba(#176087, 0.2);
  }
  
  .ItemOptions-wrapper {
    @include center();
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(#1E2E3D, 0.8);
    .ItemMenu {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      z-index: 1;
    }
  }
  
  .Item-description--title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .Item-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    font-size: 17px;
    background: rgba(#000, 0.6);
    span {
      display: block;
    }
  }
}

