.Search-wrapper {
  display: inline-flex;
  align-items: center;

  .Search-icon > svg {
    height: 20px;
  }
  
  .Input {
    background: transparent;
    border: none;
    outline: none;
    line-height: 2em;
    padding: 0 1em;
    color: white;
  
    &::placeholder {
      color: white;
    }
  }
}
