.Image-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.ImageLoader-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.Image-filter {
  width: 100%;
  height: 100%;

  &.isShowed {
    background: rgba(#176087, 0.2);
  }
}