.Sidebar-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 2;
  background: $dark;
  height: 100vh;
  width: 20%;

  .Sidebar-header {
    padding: 2.5em 0;
    text-align: center;

    strong {
      display: block;
    }
  }

  .Sidebar-nav {
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    padding: 1.8em 0;

    li {
      height: 35px;
      margin-left: 2em;
      
      a {
        font-size: 1em !important;
        position: relative;
        height: 100%;
        width: 100%;
        display: block;
        padding-top: 10px;

        .navIcon > svg {
          width: 15px;
          fill: $grey;
          margin-right: 1em;
        }

        &.isActive {
          span {
            color: $highlight;
          }

          .navIcon > svg {
            fill: $highlight;
          }

          &:after {
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            background: $highlight;
            width: 5px;
            height: 100%;
            border-radius: .2em;
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 1.2em;
      }
    }
  }
}