.Sidebar-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 4;
  border-right: 1px solid $border;
  background: $dark;
  height: 100vh;
  width: 20%;

  .Sidebar-header {
    padding: 2.5em 0;
    text-align: center;

    strong {
      display: block;
    }
  }

  .Sidebar-nav {
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    padding: 1.8em 0;

    li {
      height: 35px;
      margin-left: 2em;
      
      &:not(:last-child) {
        margin-bottom: 1.2em;
      }
    }
  }
}